*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    
}
body{
    font-family: 'Lato',cursive;
    font-size: 16px;
    
}
/* container da pagina */
.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    
}
.container-imagem {
    width: 1865px;
    max-width: 100%;
    margin: 0 auto;
}
.container-flex{
    display: flex;
}
.container-flex-spaced {
    justify-content: space-between;
    align-items: center;
}

/* header da pagina  */
.header-sneak{
    font-family: 'Lato', cursive;
    padding: 29px 0;
}
.header-title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    padding: 12px;
}
.header-list-item {
    padding: 12px;
    margin: 0 10px;
}
.header-list-item a {
    text-decoration: none;
    color: #1f1f1f;
}
.header-search {
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #F2F2F2;
    background-image: url('../img/Vector.png');
    background-repeat: no-repeat;
    background-position: 13px 20px;
    background-size: 17px;
    border-radius: 50px;
    border: 0;
    min-width: 235px;
    padding: 18px 20px 18px 40px;
    font-family: 'Lato';
    vertical-align: middle; 
    margin-left: 128px;
}
.header-search::before{
    content: '';
}

.cart {
    margin-top: 10px;
}


/* main da pagina */
/* section 01 */
.main-texto-sneak{
    font-family: 'Lato' ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    color: #9F9F9F;
    line-height: 104px;
    margin-left: 5px;
    width: 581px;
    height: 208px;
}
.main-paragrafo {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    width: 475px;
    height: 84px;
    padding-top: 24px;
}
.main-button {
    width: 336px;
    height: 84px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 108px;
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    background-color: white;
}
.main-button:hover {
    background-color: #F3F3F3;
    border-radius: 12px;
}
.main-button:focus{
    background: #D2D2D2;
    border-radius: 12px;
}
.main-button:active {
    background: #D2D2D2;
    border-radius: 12px;
}
.main-mas {
    width: 18px;
    height: 18px;
    margin-left: 41px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.main-elipse {
    background-image: url('../img/tenis.png');
    background-repeat: no-repeat;
    margin-top: 30px;
    
}
/* aside */
.aside-carrocel{
    margin-top: 150px;
    width: 1440px;
    height: 767px;
    background-color: #F3F3F3; 
}
.aside-texto {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-top: 64px;
}
.aside-cores-item {
    margin: 0 10px;
}
.aside-cores{
    margin-top: 64px;
    text-align: center;
}
.cores-sneak{
    display: inline-flex;
}
.aside-imagem{
    margin-top: 32px;
    text-align: center;
}
.aside-span-texto {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.aside-button {
    margin-top: 35px; 
    text-align: center;  
}
.aside-button-texto {
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    width: 336px;
    height: 84px;
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    background-color: #F3F3F3;
}
/* section2 da pagina  */


.section-texto {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #9F9F9F;
}
.section-paragrafo {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    width: 581px;
    height: 112px;
    padding-top: 56px;
}
.section2-imagem {
    margin-top: 200px;
    margin-left: 155px;
}
/* section 3 da pagina */
.section3-imagem {
    margin-top: 168px;
}
.imagemsection-3-1 {
    margin-left: 8px;
}
.section3-text {
    margin-left: 155px;
    margin-top: 168px;
}
.section3-titulo {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #9F9F9F;
}
.section3-paragrafo{
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    width: 581px;
    height: 112px;
    margin-top: 24px;
}
/* setion 4 da pagina  */

.section4-text {
    margin-top: 168px;
}
.section4-titulo {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #9F9F9F; 

}
.section4-paragrafo {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;

}
.section4-imagem {
    margin-left: 150px; 
    margin-top: 168px;
}
/* aside 2 da pagina */
.imagem-corrida {
    width: 100%px;
    height: 720px;
    background-image: url('../img/corrida.jpg');
    background-size: cover;
}
.conteudo {
    margin-top: 170px;
}
.imagem-seta {
    margin: 40px 22px 27px 24px;
}
.texto{
    margin-top: 16px;
}

.span-section5 {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 115px;
    line-height: 100px;
    color:white;
    margin-left: 22px;
    margin-top: 16px;
}

/* formulario */
.div-total-form{
    margin-top: 90px;
}
.formulario{
    background: #F3F3F3;
    border-radius: 0px 8px 8px 0px;
}
.formulario-dentro{
    margin: 40px 48px; 
}
.texto-form{
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: black;
}
.input-form{
    height: 50px;
    width: 517px;
    background: #FFFFFF;
    border-radius: 12px;
    border: white;
}
.input01{
    margin-top: 40px;
}
.input02{
    margin-top: 24px;
}
.input-form::-webkit-input-placeholder{
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    padding-left: 28px;
}
.comentarios{
    width: 517px;
    height: 260px;
    margin-top: 24px;
    background: #FFFFFF;
    border-radius: 12px;
    border: white;
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    padding: 24px;
}
.div-chekbox{
    margin-top: 58px ;
    
}
.chekbox {
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 10px;
}
#Item1:active {
    background-color: #1F1F1F;
    border-radius: 10px;
}
.chekbox-texto {
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    margin-left: 14px;
}
.bnt-enviar{
    margin-top: 35px;
    width: 517px;
    height: 84px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
/* footer da pagina sneak */
footer {
    width: 100%;
    background-color: #F3F3F3;
    margin-top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    

}
.footer-sneak{
    padding-top: 56px;
}
.texto-sneak{
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}
.footer-ul{
    margin-left: 221px;
}
.texto-sneak{
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.ul-sneak{
    margin-top: 18px;
}
.item-sobre-sneak{
    font-family: 'lato' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #1F1F1F;
}
.item-sobre-sneak a {
    text-decoration: none;
    color: #1f1f1f;
}
.ul-2 {
    margin-left: 72px;
}

.redes-sociais{
    margin-left: 344px;
}
.item-redes{
    margin-top: 24px;
}
.item-redessociais {
    margin-left: 20px;
}
.logo-mentorama{
    height: 68px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-left: 8px;
}